.banner-image {
    max-width: 100%;
    height: auto;
  }

.carousel-landing {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}

.carousel-container-landing {
  max-width: 90%; 
  margin: 10 auto; 
}