.homeNavbar {
    background-color: #FA2640;
  }

.btn-orange {
  background-color: #ff7900;
  color: white;
  border-color: #ff7900;
}

.btn-orange:hover {
  background-color: #ffbf00;
  border-color: #ffbf00;
}

.white-bold-text {
    color: white !important;
    font-weight: bold;
}

.custom-dropdown .dropdown-toggle::after {
    content: none; /* Remove the default arrow */
}

.custom-dropdown .dropdown-toggle svg {
    font-size: 20px;
}

.list-icon-home {
    font-size: 36px; /* Adjust the icon size as needed */
    color: white; /* Set the icon color to white */
}

.menu-icon-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

  