/* RoundedSearchInput.css */

.rounded-search-input {
    display: flex;
    align-items: center;
    border-radius: 30px; /* Increase the border radius for a more rounded look */
    background-color: #f5f5f5;
    padding: 14px; /* Adjust padding for a taller appearance */
    width: 100%; /* Adjust the width as needed */
    max-width: 600px; /* Adjust this value as needed */
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
}
  
.search-icon {
    display: flex;
    align-items: center;
    padding: 0 15px; /* Increase padding for more space around the icon */
}
  
.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 16px; /* Adjust font size as needed */
    box-shadow: none; /* Remove any inherited shadow from the input */
}